<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa exercitationem nisi labore, maiores commodi praesentium, quibusdam voluptatum tenetur quas, dolores quaerat! Quidem doloremque eligendi, culpa repellendus voluptatem expedita, magnam libero cumque, perspiciatis voluptate dolore sed blanditiis fugit eveniet eos! Asperiores deserunt debitis tenetur sed iusto perferendis suscipit officia sit facere praesentium? Veritatis nisi aut sit laborum at? Enim error libero placeat reiciendis quia rerum, necessitatibus ipsum blanditiis dolorem, quam expedita praesentium, impedit tempore eius optio soluta obcaecati consequuntur nam! Commodi omnis dolorem ad doloribus hic voluptatum, rerum perspiciatis porro deserunt blanditiis tenetur, pariatur est deleniti minus, dicta corrupti rem saepe!</p>
    
</body>
</html>