<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Page</title>
</head>
<body>
    <h1>this is Service page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam officia deserunt quam voluptatibus earum repudiandae ipsum distinctio dignissimos sapiente fuga minima veniam quia assumenda officiis deleniti optio est, ipsa cupiditate aliquam odio incidunt neque? Excepturi, inventore! Voluptate, quasi saepe. Laborum velit provident, eius voluptates in veritatis aliquid ratione assumenda, rerum, esse molestias ullam. Neque praesentium, voluptas qui possimus quis laborum sed velit consequuntur dolores cum provident totam adipisci quod fuga blanditiis quasi. Autem deleniti tempora amet explicabo ipsam nam quasi facilis consequuntur dolore odio laboriosam, eaque esse quisquam aut culpa soluta fuga ad debitis minima. Porro debitis quibusdam quod blanditiis.</p>
</body>
</html>